# Exercises - Database Operations

## Excercise 1 - Create Table

In [ ]:
CREATE TABLE courses (
	course_id INT IDENTITY,
	course_name VARCHAR(60),
	course_author VARCHAR(40),
	course_status VARCHAR(10),
	course_published_dt DATE
);
ALTER TABLE courses
ADD CONSTRAINT pk_courses_course_id PRIMARY KEY CLUSTERED (course_id);

## Excercise 2 - Inserting Data

In [ ]:
INSERT INTO courses
    (course_name, course_author, course_status, course_published_dt)
VALUES
    ('Programming using Python', 'Bob Dillon', 'published', '2020-09-30'),
	('Data Engineering using Python', 'Bob Dillon', 'published', '2020-07-15');

INSERT INTO courses (course_name, course_author, course_status)
VALUES ('Data Engineering using Scala', 'Elvis Presley', 'draft');

INSERT INTO courses (course_name, course_author, course_status, course_published_dt)
VALUES
	('Programming using Scala', 'Elvis Presley', 'published', '2020-05-12'),
	('Programming using Java', 'Mike Jack', 'inactive', '2020-08-10'),
	('Web Applications - Python Flask', 'Bob Dillon', 'inactive', '2020-07-20');

INSERT INTO courses (course_name, course_author, course_status)
VALUES
	('Web Applications - Java Spring', 'Mike Jack', 'draft'),
	('Pipeline Orchestration - Python', 'Bob Dillon', 'draft');

INSERT INTO courses (course_name, course_author, course_status, course_published_dt)
VALUES
	('Streaming Pipelines - Python', 'Bob Dillon', 'published', '2020-10-05'),
	('Web Applications - Scala Play', 'Elvis Presley', 'inactive', '2020-09-30'),
	('Web Applications - Python Django', 'Bob Dillon', 'published', '2020-06-23'),
	('Server Automation - Ansible', 'Uncle Sam', 'published', '2020-07-05');

## Excercise 3 - Updating Data

In [ ]:
UPDATE courses
SET course_status = 'published', course_published_dt = getdate()
WHERE course_status = 'draft' AND (course_name LIKE '%Python%' OR course_name LIKE '%Scala%');

## Exercise 4 - Deleting Data

In [ ]:
DELETE FROM courses
WHERE NOT course_status = 'published';

-- Validation
SELECT course_author, count(1) AS course_count
FROM courses
WHERE course_status = 'published'
GROUP BY course_author